* {
    margin: 0 auto;
}

.navbar {
    position: fixed;
    height: 150px;
    width: 90%;
    right: 0;
    background-color: white;
}
.aside{
    position: fixed;
    min-height: 78vh;
    margin-top: 155px;
}
.aside div{
    height: 39vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstpart {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.search-box {
    display: flex;
    margin-left: 40%;
    width: 400px;
}

.search-box button {
    border-left: none;
    cursor: pointer;
}

.search-box input {
    border-right: none;
    width: 100%;
}

.iconbox {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.iconbox button {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.iconbox button img {
    height: 40px;
    width: 40px;
}

.secondpart {
    width: auto;
    height: 60px;
    overflow-x: scroll;
    overflow-y: visible;
}

.secondpart button {
    width: 130px;
    padding: .5rem;
    border-radius: 17px;
}

.container {
    width: 80%;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    padding-top: 160px;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.container img {
    width: 150px;
    height: 150px;
}

footer {
    display: flex;
    flex-direction: column;
    height: 9rem;
    background-color: #e5e5e5;
    justify-content: center;
}
 /* footer p {
    margin-bottom: 3rem;
}
.firstp{
    margin-top: 3rem;
} */